<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-test" version="0.2.3">
    <name>PluginTest</name>
    <description>Cordova Plugin Test</description>
    <license>Apache 2.0</license>
    <keywords>cordova</keywords>
    <js-module src="www/plugin.js" name="plugin">
        <clobbers target="PluginTest" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PluginTest">
                <param name="android-package" value="com.test.PluginTest" />
            </feature>
        </config-file>
        <source-file src="src/android/PluginTest.java" target-dir="src/com/test/plugintest" />
    </platform>
    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="PluginTest">
                <param name="browser-package" value="PluginTest" />
            </feature>
        </config-file>

        <js-module src="src/browser/PluginTest.js" name="PluginTest">
            <runs />
        </js-module>
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PluginTest">
                <param name="ios-package" value="PluginTest"/>
            </feature>
        </config-file>
        <header-file src="src/ios/PluginTest.h" />
        <source-file src="src/ios/PluginTest.m" />
    </platform>
</plugin>